<head>
    <link rel="stylesheet" href="/style.css">
   <link rel="icon" href="/favicon.ico?v=2">


<title>Weather app</title>
</head>
<div id="cover">
  <form action="/submit" method="POST">
    <div class="tb">
      <div class="td"><input name = "cityName"type="text" placeholder="Search City" required></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
        
      </div>
      
    </div>
     <p><strong>© copyright @SuperSaiyanCoding 2023</strong></p>
  </form>
  
 
</div>